In [ ]:
import numpy as np
import pandas as pd

## Basic pandas operation

In [ ]:
## Create small dataset
data = {
    'dogs': [23, 17, 5, 12, 1, 5],
    'birds': [10, 7, 13, 2, 8, 19],
    'cats': [4, 14, 8, 15, 11, 3]}
data

{'birds': [10, 7, 13, 2, 8, 19],
 'cats': [4, 14, 8, 15, 11, 3],
 'dogs': [23, 17, 5, 12, 1, 5]}

In [ ]:
## Convert dictionary into dataframe
shelter = pd.DataFrame(data)
print(shelter)
print(type(shelter))

   dogs  birds  cats
0    23     10     4
1    17      7    14
2     5     13     8
3    12      2    15
4     1      8    11
5     5     19     3
<class 'pandas.core.frame.DataFrame'>

In [ ]:
## Information about dataframe
shelter.info()
shelter.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dogs    6 non-null      int64
 1   birds   6 non-null      int64
 2   cats    6 non-null      int64
dtypes: int64(3)
memory usage: 272.0 bytes

Index(['dogs', 'birds', 'cats'], dtype='object')

In [ ]:
## Get statistics
shelter.describe()

           dogs      birds       cats
count   6.00000   6.000000   6.000000
mean   10.50000   9.833333   9.166667
std     8.38451   5.776389   5.036533
min     1.00000   2.000000   3.000000
25%     5.00000   7.250000   5.000000
50%     8.50000   9.000000   9.500000
75%    15.75000  12.250000  13.250000
max    23.00000  19.000000  15.000000

In [ ]:
## Look at first 5
shelter.head(3)

   dogs  birds  cats
0    23     10     4
1    17      7    14
2     5     13     8

In [ ]:
## Look at tail 5
shelter.tail()

   dogs  birds  cats
1    17      7    14
2     5     13     8
3    12      2    15
4     1      8    11
5     5     19     3

In [ ]:
shelter.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
## Create index name as a list
idx_names = ['shelter0', 'shelter1', 'shelter2', 'shelter3', 'shelter4', 'shelter5']

shelter_indexname = pd.DataFrame(data, index = idx_names)
shelter_indexname

          dogs  birds  cats
shelter0    23     10     4
shelter1    17      7    14
shelter2     5     13     8
shelter3    12      2    15
shelter4     1      8    11
shelter5     5     19     3

In [ ]:
## Working with rows and columns
#print(shelter_indexname.loc['shelter3'])
print(shelter_indexname.loc['shelter3', 'dogs'])

12

In [ ]:
## Slicing
print(shelter_indexname[2:5])
print(shelter_indexname['shelter2':'shelter5'])

          dogs  birds  cats
shelter2     5     13     8
shelter3    12      2    15
shelter4     1      8    11
          dogs  birds  cats
shelter2     5     13     8
shelter3    12      2    15
shelter4     1      8    11
shelter5     5     19     3

In [ ]:
## Slicing row and column by index
shelter_indexname.iloc[2:5,0:2]

          dogs  birds
shelter2     5     13
shelter3    12      2
shelter4     1      8

In [ ]:
shelter_indexname

          dogs  birds  cats
shelter0    23     10     4
shelter1    17      7    14
shelter2     5     13     8
shelter3    12      2    15
shelter4     1      8    11
shelter5     5     19     3

In [ ]:
## Choose specified columns
print(shelter_indexname['dogs'])
print(shelter_indexname[['dogs', 'cats']])

shelter0    23
shelter1    17
shelter2     5
shelter3    12
shelter4     1
shelter5     5
Name: dogs, dtype: int64
          dogs  cats
shelter0    23     4
shelter1    17    14
shelter2     5     8
shelter3    12    15
shelter4     1    11
shelter5     5     3

In [ ]:
## Get columns
shelter_indexname.columns

Index(['dogs', 'birds', 'cats'], dtype='object')

In [ ]:
shelter_indexname

          dogs  birds  cats
shelter0    23     10     4
shelter1    17      7    14
shelter2     5     13     8
shelter3    12      2    15
shelter4     1      8    11
shelter5     5     19     3

In [ ]:
## Sorting by values
shelter_indexname.sort_values(by='cats')

          dogs  birds  cats
shelter5     5     19     3
shelter0    23     10     4
shelter2     5     13     8
shelter4     1      8    11
shelter1    17      7    14
shelter3    12      2    15

In [ ]:
## Transpose
shelter_indexname.T
print(shelter_indexname.T.shape)

(3, 6)

In [ ]:
shelter_indexname

          dogs  birds  cats
shelter0    23     10     4
shelter1    17      7    14
shelter2     5     13     8
shelter3    12      2    15
shelter4     1      8    11
shelter5     5     19     3

In [ ]:
## Use apply and lambda
shelter_indexname['dogs'] = shelter_indexname['dogs'].apply(lambda x: x*17)
shelter_indexname['birds'] = shelter_indexname['birds'].apply(lambda x: x*8)
shelter_indexname['cats'] = shelter_indexname['cats'].apply(lambda x: x*23)
shelter_indexname

          dogs  birds  cats
shelter0   391     80    92
shelter1   289     56   322
shelter2    85    104   184
shelter3   204     16   345
shelter4    17     64   253
shelter5    85    152    69

In [ ]:
## Use of apply and map
## Apply a function to a Dataframe elementwise.
shelter_indexname = shelter_indexname.applymap(lambda x: x/2.0)
shelter_indexname

           dogs  birds   cats
shelter0  195.5   40.0   46.0
shelter1  144.5   28.0  161.0
shelter2   42.5   52.0   92.0
shelter3  102.0    8.0  172.5
shelter4    8.5   32.0  126.5
shelter5   42.5   76.0   34.5

In [ ]:
shelter_indexname

          dogs  birds  cats
shelter0    23     10     4
shelter1    17      7    14
shelter2     5     13     8
shelter3    12      2    15
shelter4     1      8    11
shelter5     5     19     3

In [ ]:
np.sum

3

In [ ]:
## Row-wise operation with axis = 0 for a Numpy array
## Reduce using apply and np.sum

## np.sum sums down the rows per column when we set axis = 0, 0 refers to the row axis for a NumPy array
## Row-wise operation
df_sum_column = shelter_indexname.apply(np.sum, axis=0)
df_sum_column

dogs     63
birds    59
cats     55
dtype: int64

In [ ]:
## Column-wise operation with axis = 1 for a NumPy array
## You get back sum totals per row
df_sum_row = shelter_indexname.apply(np.sum, axis=1)
df_sum_row

shelter0    37
shelter1    38
shelter2    26
shelter3    29
shelter4    20
shelter5    27
dtype: int64

In [ ]:
## Create a fourth column that has a list of boolean values
new_col = [True, True, False, True, False, False]

## Assign list to be the new column name
shelter_indexname['foster'] = new_col
shelter_indexname

          dogs  birds  cats  foster
shelter0    23     10     4    True
shelter1    17      7    14    True
shelter2     5     13     8   False
shelter3    12      2    15    True
shelter4     1      8    11   False
shelter5     5     19     3   False

In [ ]:
shelter_indexname.groupby('foster')

In [ ]:
## Use groupby and sum, aggregate functions
## You will attain the aggregate sums across shelters where False or True
shelter_indexname.groupby('foster').sum()

        dogs  birds  cats
foster
False     11     40    22
True      52     19    33

In [ ]:
shelter_indexname.groupby('foster').mean()

             dogs      birds       cats
foster
False    3.666667  13.333333   7.333333
True    17.333333   6.333333  11.000000

## datetime

In [ ]:
import datetime

In [ ]:
## Parsing time series information from various sources and formats

date_var = pd.to_datetime(['10/15/2019', np.datetime64('2019-10-15'),
                          datetime.datetime(2019, 10, 15)])
date_var

DatetimeIndex(['2019-10-15', '2019-10-15', '2019-10-15'], dtype='datetime64[ns]', freq=None)

In [ ]:
## Generate sequences of fixed-frequency dates and time spans
## Frequency is set to daily

date_var = pd.date_range('2019-10-15', periods=10, freq='M')
date_var

DatetimeIndex(['2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31',
               '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31',
               '2020-06-30', '2020-07-31'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
## Manipulating and converting date times with time zone information
## UTC means Universal Time Coordinated, world clock time

date_var = date_var.tz_localize('UTC')
date_var

DatetimeIndex(['2019-10-31 00:00:00+00:00', '2019-11-30 00:00:00+00:00',
               '2019-12-31 00:00:00+00:00', '2020-01-31 00:00:00+00:00',
               '2020-02-29 00:00:00+00:00', '2020-03-31 00:00:00+00:00',
               '2020-04-30 00:00:00+00:00', '2020-05-31 00:00:00+00:00',
               '2020-06-30 00:00:00+00:00', '2020-07-31 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='M')

In [ ]:
## Convert to Eastern Time zone

date_var.tz_convert('Asia/Seoul')

DatetimeIndex(['2019-10-31 09:00:00+09:00', '2019-11-30 09:00:00+09:00',
               '2019-12-31 09:00:00+09:00', '2020-01-31 09:00:00+09:00',
               '2020-02-29 09:00:00+09:00', '2020-03-31 09:00:00+09:00',
               '2020-04-30 09:00:00+09:00', '2020-05-31 09:00:00+09:00',
               '2020-06-30 09:00:00+09:00', '2020-07-31 09:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='M')

In [ ]:
## Resampling or converting a time series to a particular frequency

idx = pd.date_range('2019-10-01', periods=7, freq='D')  # can change to 'S'  for seconds or 'H' hourly
print(idx)
ts = pd.Series(range(len(idx)), index=idx)
ts

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06', '2019-10-07'],
              dtype='datetime64[ns]', freq='D')

2019-10-01    0
2019-10-02    1
2019-10-03    2
2019-10-04    3
2019-10-05    4
2019-10-06    5
2019-10-07    6
Freq: D, dtype: int64

In [ ]:
## Resampling or converting a time series to a particular frequency, another example

idx = pd.date_range('2019-10-01', periods=10, freq='M')

ts = pd.Series(range(len(idx)), index=idx)
ts

2019-10-31    0
2019-11-30    1
2019-12-31    2
2020-01-31    3
2020-02-29    4
2020-03-31    5
2020-04-30    6
2020-05-31    7
2020-06-30    8
2020-07-31    9
Freq: M, dtype: int64

In [ ]:
## For pandas objects, time means using the points in time.

pd.to_datetime(pd.Timestamp(datetime.datetime(2019, 7, 15)))

Timestamp('2019-07-15 00:00:00')

In [ ]:
## Create a list of timestamps

dates = [pd.Timestamp('2015-05-01'),
         pd.Timestamp('2015-05-02'),
         pd.Timestamp('2015-05-03')]
dates

[Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-02 00:00:00'),
 Timestamp('2015-05-03 00:00:00')]

In [ ]:
## Create a pandas series that use the dates
## Random numbers from standard normal distribution

ts = pd.Series(np.random.randn(3), index=dates)
ts.index

DatetimeIndex(['2015-05-01', '2015-05-02', '2015-05-03'], dtype='datetime64[ns]', freq=None)

In [ ]:
## Create a date range with 10 periods
## Date is given as YYYYMMDD

dates = pd.date_range('20191001', periods=10)
dates

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08',
               '2019-10-09', '2019-10-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
## To convert a Series or list-like object of date-like objects e.g. strings, epochs, or a mixture, 
## you can use the to_datetime function.

pd.to_datetime(pd.Series(['Jul 09, 2019', '2019-07-10', None]))

0   2019-07-09
1   2019-07-10
2          NaT
dtype: datetime64[ns]

In [ ]:
## Convert dates to datetime

pd.to_datetime(['2005/12/25', '2005.12.31'])

DatetimeIndex(['2005-12-25', '2005-12-31'], dtype='datetime64[ns]', freq=None)

In [ ]:
pd.to_datetime(['02-01-2017', '01-03-2018'], dayfirst=True)

DatetimeIndex(['2017-01-02', '2018-03-01'], dtype='datetime64[ns]', freq=None)

In [ ]:
## You can also pass a DataFrame of integer or string columns to assemble into a Series of Timestamps

df = pd.DataFrame({'year': [2017, 2018, 2019],
                       'month': [3, 4, 5],
                       'day': [15, 16, 17],
                       'hour': [8, 9, 10]})

pd.to_datetime(df)
## Notice the year, month, day, hour

0   2017-03-15 08:00:00
1   2018-04-16 09:00:00
2   2019-05-17 10:00:00
dtype: datetime64[ns]

In [ ]:
## You can pass only the columns that you need 
pd.to_datetime(df[['year', 'month', 'day']])

0   2017-03-15
1   2018-04-16
2   2019-05-17
dtype: datetime64[ns]

In [ ]:
## Pull out hour data only
print(df.hour)
## Pull out month data only
print(df.month)

0     8
1     9
2    10
Name: hour, dtype: int64
0    3
1    4
2    5
Name: month, dtype: int64

## Handling missing

In [ ]:
np.nan + np.nan

nan

In [3]:
import numpy as np
import pandas as pd

In [4]:
dict = {'systolic_1':[161, 188, np.nan, 212], 
        'systolic_2': [87, 105, 93, np.nan], 
        'systolic_3':[np.nan, 117, 112, 122]}
df = pd.DataFrame(dict) 
df

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
dict = {'systolic_1':[161, 188, np.nan, 212], 
        'systolic_2': [87, 105, 93, np.nan], 
        'systolic_3':[np.nan, 117, 112, 122]}
dict

{'systolic_1': [161, 188, nan, 212],
 'systolic_2': [87, 105, 93, nan],
 'systolic_3': [nan, 117, 112, 122]}

In [ ]:
## Creating a pandas dataframe from python dictionary 
df = pd.DataFrame(dict) 
df

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

Check missing values

In [5]:
df.isnull().any(axis=0)

systolic_1    True
systolic_2    True
systolic_3    True
dtype: bool

In [ ]:
df.isnull().any(axis=1)

0     True
1    False
2     True
3     True
dtype: bool

In [ ]:
df.isna()

   systolic_1  systolic_2  systolic_3
0       False       False        True
1       False       False       False
2        True       False       False
3       False        True       False

In [ ]:
df.isna().sum(axis=0)

systolic_1    1
systolic_2    1
systolic_3    1
dtype: int64

Filling missing values

In [ ]:
df

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df1 = df.fillna(-1) 
df1

   systolic_1  systolic_2  systolic_3
0       161.0        87.0        -1.0
1       188.0       105.0       117.0
2        -1.0        93.0       112.0
3       212.0        -1.0       122.0

In [ ]:
df

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df.fillna(method='ffill')

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2       188.0        93.0       112.0
3       212.0        93.0       122.0

In [ ]:
## To interpolate the missing values means to take the average of the previous and next values.

df2 = df.interpolate(method ='linear', limit_direction ='forward') 
df2

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2       200.0        93.0       112.0
3       212.0        93.0       122.0

In [ ]:
df2 = df.interpolate(method ='linear', limit_direction ='backward') 
df2

   systolic_1  systolic_2  systolic_3
0       161.0        87.0       117.0
1       188.0       105.0       117.0
2       200.0        93.0       112.0
3       212.0         NaN       122.0

Dropping nan values

In [ ]:
df

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df3 = df.dropna(how='any', axis=0)
df3.shape

(1, 3)

In [ ]:
df3 = df.dropna(how='all')
df3

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
## Create a situation where an entire row has NaNs
df.iloc[0,0]=np.nan
df.iloc[0,1]=np.nan
df

   systolic_1  systolic_2  systolic_3
0         NaN         NaN         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df4 = df.dropna(how='all')
df4

   systolic_1  systolic_2  systolic_3
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df.iloc[0,0] = 161.0
df.iloc[0,1] = 87.0
df

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df5 = df.fillna(method='ffill')  # Fill values forward
df5

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2       188.0        93.0       112.0
3       212.0        93.0       122.0

In [ ]:
df6 = df.fillna(method='bfill')  # Fill values forward
df6

   systolic_1  systolic_2  systolic_3
0       161.0        87.0       117.0
1       188.0       105.0       117.0
2       212.0        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2         NaN        93.0       112.0
3       212.0         NaN       122.0

In [ ]:
df7 = df.fillna(method='bfill', axis=1)  # Fill values backward
df7

   systolic_1  systolic_2  systolic_3
0       161.0        87.0         NaN
1       188.0       105.0       117.0
2        93.0        93.0       112.0
3       212.0       122.0       122.0